.landing-page {
  background-color: #191919;
  color: white;
  text-align: center;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}

.header {
  background-color: #191919;
  padding: 0 2rem;
  color: white;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 30px !important;
  margin-right: 10px;
  border-radius: 50%;
}

.image-container {
  position: relative;
  display: inline-block; /* This ensures the container wraps around the image */
}

.landing-img {
  width: 100%;
  display: block; /* Prevents small gaps under the image */
}

.ticket-button {
  position: absolute;
  bottom: -18px; /* Adjusts the vertical spacing from the bottom of the image */
  width: 100%;
  display: flex;
  justify-content: center;
}

.buy-ticket-button {
  background-color: #ffb6c1;
  border: none;
  width: 30%;
}

.buy-ticket-button:hover {
  background-color: #c87899 !important;
}

.about-section,
.event-section {
  padding: 80px 20px;
  color: white;
}

.past-events-section {
  padding: 80px 0;
}

.about-section h2,
.event-section h3,
.past-events-section h2 {
  color: #ffb6c1;
}

.footer {
  background-color: #191919;
  padding: 40px 0;
  color: white;
}

.footer-row {
  text-align: center;
}

.social-icons img {
  width: 40px;
  margin: 0 12px;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
