@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

.logo h3 {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
}

.landing-page {
  background-color: #191919;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.header {
  background-color: #191919;
  padding: 0 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 30px !important;
  margin-right: 10px;
  border-radius: 50%;
}

.image-container {
  position: relative;
  display: inline-block; /* This ensures the container wraps around the image */
}

.landing-img {
  width: 100%;
  display: block; /* Prevents small gaps under the image */
}

.ticket-button {
  position: absolute;
  bottom: -18px; /* Adjusts the vertical spacing from the bottom of the image */
  width: 100%;
  display: flex;
  justify-content: center;
}

.buy-ticket-button {
  background-color: #ffb6c1;
  border: none;
  width: 30%;
}

.buy-ticket-button:hover {
  background-color: #c87899 !important;
}

.about-section {
  padding: 120px 20px;
  color: white;
}

.event-section {
  padding: 80px 20px;
  color: white;
}

.past-events-section {
  padding: 80px 0;
}

.about-section h2,
.event-section h2,
.past-events-section h2 {
  color: #ffb6c1;
}

.footer {
  background-color: #191919;
  padding: 40px 0;
  color: white;
}

.footer-row {
  text-align: center;
}

.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0 20px;
}

.partner-logo {
  width: 80px;
  height: 80px;
}

.cross {
  margin: 0 20px;
}

.social-icons img {
  width: 40px;
  margin: 0 12px;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-us {
  padding-bottom: 12px;
  font-size: 18px;
}

.contact-us.jura {
  font-size: 18px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.carousel-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 85%;
  max-width: 100%;
}

.carousel-text p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 670px) {
  .carousel-text p {
    font-size: 12px;
  }

  .partners-container {
    padding: 20px;
  }

  .header {
    padding: 0 1rem;
  }

  .partner-logo {
    width: 50px;
    height: 50px;
  }

  .partner .jura {
    font-size: 12px;
  }

  .partner {
    margin: 0;
  }

  .about-section {
    padding: 120px 0 30px;
  }

  .event-section {
    padding: 80px 20px 30px;
  }

  .past-events-section {
    padding: 30px 0;
  }

  .contact-us {
    padding-bottom: 6px;
  }
}
