.success-page {
  text-align: center;
  padding: 0 50px;
  background-color: #181414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.icon-container {
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 20px;
}

.check-icon {
  font-size: 100px;
  color: #ffffff;
}

.success-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #e5e5e5;
}

.success-info {
  color: #b8b8b8;
  font-size: 16px;
  margin-bottom: 40px;
}

.home-button {
  background-color: #f2badc;
  border: none;
  color: white;
  width: 30%;
}

.home-button:hover {
  background-color: #c87899 !important;
}
